{% extends "layout.html" %}

{% block title %}
    Delete Participant
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="participant" placeholder="Participant" type="text">
                <option disabled selected> Select Participant...</option>
                <!-- Loop through all stored names -->
                {% for row in participants %}
                    <option value={{ row[0]["participant"] }}>{{ row[0]["participant"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Delete Participant</button>
    </form>
{% endblock %}
