{% extends "layout.html" %}

{% block title %}
    Assignments
{% endblock %}

{% block main %}
    <!-- Show user's list of dishes, photo should be updated upon clicking "Submit" -->
    <form action="/index" method="post" enctype="multipart/form-data">
        <main class="container py-5 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-start">Participant</th>
                        <th class="text-start">Recipe</th>
                        <th class="text-center">Webpage/Link</th>
                        <th class="text-center">Photo(s)</th>
                        <th class="text-center">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in info %}
                        <tr class="table-row">
                            <td class="text-start">{{ row[0]["participant"] }}</td>
                            <td class="text-start">{{ row[1]["recipe"] }}</td>
                            <td class="text-center"><a href="{{ row[2]["link"] }}">{{ row[2]["link"] }}</a></td>
                            <!-- If participant has uploaded photos, display them -->
                            {% if row[3]["photos"] %}
                                <td class="text-center">
                                    <!-- Line below inspired by "https://stackoverflow.com/questions/30515456/split-string-into-list-in-jinja" -->
                                    {% set photos = row[3]["photos"].split('|') %}
                                    <div id="img_row">
                                        {% for photo in photos %}
                                            <div id="img_col">
                                                <a href="/static/photos/{{ photo }}" target="_blank">
                                                    <img src="/static/photos/{{ photo }}" alt="{{ photo }}" width="100%" height="100%">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            <!-- If participant has not uploaded photos, allow him/her to upload photo(s) -->
                            {% elif not row[3]["photos"] %}
                                <td class="text-center">
                                    <input class="form-control" type="file" name="photo{{ loop.index0 }}" multiple>
                                </td>
                            {% endif %}
                            <td class="text-center">
                                <!-- Used SpikeZ's logic to make placeholder text disappear on click and reappear off click if no text entered:
                                     "https://www.sitepoint.com/community/t/how-to-make-input-text-disappear/5713" -->
                                <textarea class="form-control mx-auto w-auto" name="comments{{ loop.index0 }}" placeholder="Optional"
                                rows="5" cols="50" onfocus="if (this.placeholder=='Optional') {this.placeholder=''}" onblur="if (this.placeholder=='')
                                {this.placeholder='Optional'}">{% if row[4]["comments"] %}{{ row[4]["comments"] }}{% endif %}</textarea>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <button class="btn btn-primary" id="btn-under-table" type="submit" onclick="showtext()">Upload Photo(s), Save Comment(s)</button>
    </form>
    <!-- If button clicked, prompt user whether (s)he wants to reset recipe assignments -->
    <!-- HTML inspired by "https://www.w3schools.com/howto/howto_css_delete_modal.asp" -->
    <button id="btn-under-btn" onclick="document.getElementById('id01').style.display='block'">Clear Assignments</button>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="/clear" method="post">
            <div class="container">
                <h1>Clear Assignments</h1>
                <p>Are you sure you want to clear all recipe assignments?</p>
                <div class="clearfix">
                    <button type="button" class="cancelbtn" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
                    <button type="submit" class="deletebtn">Clear</button>
                </div>
            </div>
        </form>
    </div>
    <!-- JS code from "https://www.w3schools.com/howto/howto_css_delete_modal.asp" -->
    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
{% endblock %}
