/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Color for brand */
nav .navbar-brand .purple
{
    color: #6610f2;
}

/* Style tables */
.table>thead {
    vertical-align: bottom;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

thead {
    display: table-header-group
}

table {
    display: table;
    text-indent: initial;
    border-spacing: 2px;
}

/* Style and center images in a container */
#img_row {
    display: flex;
    justify-content: center;
}

/* Style images to all be the same width */
#img_col {
    border: medium solid #6610f2;
    margin: auto 0.5em;
    width: 7.8em;
    height: 7.8em;
}

#btn-under-table {
    margin-top: -4.5em;
}


/* All CSS below from example: "https://www.w3schools.com/howto/howto_css_delete_modal.asp" */
* {box-sizing: border-box}

/* Set a style for button which clears recipe assignments */
#btn-under-btn {
  background-color: #D2122E;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-top: -1em;
  border-radius: 5%;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}